<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="beer_factory.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=PC;Integrated Security=SSPI;Initial Catalog=Beer_Factory" providerName="System.Data.OleDb" />
    </connectionStrings>
	<appSettings>
		<!--   Параметры пользовательского приложения и настроенного свойства.-->
		<!--   Пример: <add key="имя_параметра" value="значение_параметра"/> -->
		<add key="cn.ConnectionString" value="Provider=SQLOLEDB;Data Source=PC;Integrated Security=SSPI;Initial Catalog=Beer_Factory" />
		<add key="conn.ConnectionString" value="Provider=SQLOLEDB;Data Source=PC;Integrated Security=SSPI;Initial Catalog=Beer_Factory" />
	</appSettings>
</configuration>